<% if @category.color == "red" %>
  <div class="bg-red-300 container m-9">

<% elsif @category.color == "blue" %>
  <div class="bg-blue-400 container m-9">

<% elsif @category.color == "green" %>
  <div class="bg-green-400 container m-9">

<% end %>
    <h1 class="text-9xl"><%= @category.name %></h1><br>
    <p class="text-5xl"><%= @category.color %></p>
  </div>
