<div class = "bg-<%= @category.color %>-500 container m-9">
  <h1 class="bg-<%= @category.color %>-500 text-9xl"><%= @category.name %></h1><br><p>
  <p class ="text-5xl"><%= @category.color %></p>
</div>
